*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
gradlew
gradlew.bat
gradle
/node_modules
/.liquidcore
package-lock.json
./build
./androidTest
./test
decoder-ark-sdk/src/androidTest/
decoder-ark-sdk/src/test/